<div style="max-width: 800px; margin: 0 auto;">
    <div>
        <h2>Lista de Productos</h2>
        <br>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid #ddd;">
            <thead>
                <tr>
                    <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">ID</th>
                    <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">TITULO</th>
                    <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">DESCRIPCION</th>
                    <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">CODIGO</th>
                    <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">PRECIO</th>
                    <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">STOCK</th>
                    <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">CATEGORIA</th>
                </tr>
            </thead>
           <tbody id="productsTable">
                {{#each productos}}
                <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;">{{this.id}}</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">{{this.title}}</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">{{this.description}}</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">{{this.code}}</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">{{this.price}}</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">{{this.stock}}</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">{{this.category}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>